button {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

md-card {
    margin-bottom: 5px;
    margin-top: 5px
}

md-icon {
    color: orangered;
    margin-right: 10px;
}